<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="container mt-40 text-center text-5xl font-bold text-blue-500">
    <p class="text-8xl">MINI PROJECT</p>
    <p class="text-6xl">Employee Data Warehouse</p>
    <p>BY</p>
    <p>KRITSANAI DEENU 65123801</p>
    <p>TEERAPONG THUMMASUNTRA 65123809</p>
    <button class="mt-10 p-5  text-amber-900 font-extrabold text-8xl bg-amber-300 rounded-full drop-shadow-xl" routerLink="/employee-list"><i class='bx bxs-hand-right bx-fade-left' style='color:#ffffff' ></i> Go <i class='bx bxs-hand-left bx-fade-right' style='color:#ffffff' ></i></button>
</div>